body{
    background: #999;
}

.encabezado{
    height: 150px;
    display: flex;
    align-items: center;
    align-content: center;
    background: #000;
    margin-bottom: 60px;
    text-justify: center;
}

.encabezado h1{
    color: aliceblue;
}
.centrado{
    text-align: center;
}
.headTit{
    text-align: center;
}
.centradito{
    display: flex;
    align-content: center;
}
.botonAdd{
    position: fixed;
    bottom: 10px;
    right: 10px;
    float: right;
    align-content: center;
    margin-right: 40vh;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
}

/* -------------------------------------- */

.tareasVisibles{
    display:none;
    margin-bottom: 30px;
    min-height: 100vh;
    min-width: 97vw;
}
/* ---------------------------------------- */

.colVerMas{
    display: none;
    align-content: center;
}

/* ----------------------------------------- */

.modal{
    margin-top: 80px;
}

/*
    Luego analizar bien esta parte de los li que se agregan
.liADD{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: top;
} */
.izq{
    float: left;
}

.txt{
    display: inline-block;
}

.mas{
    float:right;
    border-radius: 50%;
    
}


.noVisible{
    display: none;
}
/* Espaciado dentro del pop up */


.espacio{
    margin-bottom: 30px;
}

.imagenLista{
    width: 40px;
    height: 30px;
}

.noHayContenido{
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    align-items: center;
    
}


.noHayContenido .tituloChico{
    text-align: center;
}

